@page "/creaturetypes"

@using System
@using DnDBlazorReference.Shared
@using DnDBlazorReference.Shared.Models
@using DnDBlazorReference.Shared.Models.FiveETools
@using DnDBlazorReference.Shared.Models.BinaricPox
@using DnDBlazorReference.Client.Data
@using System.Text.Json
@using System.Text.Json.Serialization
@using DnDBlazorReference.Client.Shared.CreatureTypes

@inject HttpClient Http
@inject DnDBlazorReference.Client.Data.DataStorage DataStore

<div>
    <h1>Creature Types</h1>
    <LayoutColumns>
        <div id="left-column">
            <CreatureTypeList OnItemSelected="SelectCreatureType" />
        </div>
        <div id="right-column">
            <CreatureTypeDisplay CreatureType="SelectedCreatureType" />
        </div>
    </LayoutColumns>
</div>

@code {
    private CreatureType SelectedCreatureType { get; set; }

    private string outputJson = string.Empty;

    public void SelectCreatureType(CreatureType toSelect)
    {
        SelectedCreatureType = toSelect;
    }
}
