@page "/monsters"

@using System
@using DnDBlazorReference.Shared
@using DnDBlazorReference.Shared.Models
@using DnDBlazorReference.Shared.Models.FiveETools
@using DnDBlazorReference.Shared.Models.BinaricPox
@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Client.Shared.Monsters
@using System.Text.Json
@using System.Text.Json.Serialization

@inject HttpClient Http
@inject DataStorage DataStore

<div>
    <h1>Monsters</h1>
    <LayoutColumns>
        <div id="left-column">
            <MonsterList OnItemSelected="SelectMonster" SelectedMonster="SelectedMonster"/>
        </div>
        <div id="right-column">
            <MonsterDisplay Monster="SelectedMonster" />
        </div>
    </LayoutColumns>
</div>

@code {
    private Monster SelectedMonster { get; set; }

    public void SelectMonster(Monster toSelect)
    {
        SelectedMonster = toSelect;
    }
}
