@page "/trinkettables"

@using System
@using DnDBlazorReference.Shared
@using DnDBlazorReference.Shared.Models
@using DnDBlazorReference.Shared.Models.FiveETools
@using DnDBlazorReference.Shared.Models.BinaricPox
@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Client.Shared.HarvestingItems
@using DnDBlazorReference.Client.Shared.TrinketTables
@using DnDBlazorReference.Client.Shared.Tables
@using System.Text.Json
@using System.Text.Json.Serialization
@using Tewr.Blazor.FileReader
@using DnDBlazorReference.Client.Shared.CreatureTypes;

@inject HttpClient Http
@inject DataStorage DataStore
@inject EditAndStyleController EditAndStyle

<div>
    <h1>Trinket Tables</h1>
    <div>
        @if (EditAndStyle.IsEditting)
        {
            <div>
                <TrinketTableCreator OnItemCreated="CreateTrinketTable" />
            </div>
        }
        <div>
            <div id="left-column">
                <TrinketTablesList OnItemSelected="SelectTrinketTable" />
            </div>
            <div id="right-column">
                <TrinketTableDisplay TrinketTable="SelectedTrinketTable" />
            </div>
        </div>
    </div>
</div>

@code {

    private TrinketTable SelectedTrinketTable { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        EditAndStyle.EdittingStateChanged += StateHasChanged;
    }

    public void SelectTrinketTable(TrinketTable toSelect)
    {
        SelectedTrinketTable = toSelect;
    }

    public void CreateTrinketTable(TrinketTable newItem)
    {
        SelectTrinketTable(newItem);
        DataStore.TrinketTables.TryAdd(newItem.TrinketTableType, newItem);
    }
}
