@using DnDBlazorReference.Shared.Models.BinaricPox
@inherits ElementListItemBase<HarvestedItem>

<li @onmousedown="SelectItem"class="d-flex flex-row @GetCssByItem(List.SelectedHarvestedItem)">
    @if (ListItem == null)
    {
        <span>Error ...</span>
    }
    else
    {
        <span>@ListItem.NameWithQuantity</span>
    }
</li>

@code {
    [CascadingParameter]
    public HarvestingItemsList List { get; set; }
}
