@inherits LayoutComponentBase
@using DnDBlazorReference.Client.Data

<div class="sidebar">
    <NavMenu />
</div>

<div class="main flex-column">

    <div class="content">
        @Body
    </div>
</div>

@*<DiceRollerConsole />*@

@code
{
}
