@inherits LayoutComponentBase
@using DnDBlazorReference.Client.Data
@inject DataStorage DataStore
@inject HttpClient Http

<div class="sidebar">
    <NavMenu />
</div>

<div class="main flex-column">

    <div class="content">
        @Body
    </div>
</div>

@*<DiceRollerConsole />*@

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!DataStore.IsLoaded)
        {
            try
            {
                DataStorage.DnDToolsState state = await Http.GetFromJsonAsync<DataStorage.DnDToolsState>("state-data/system-state.json");
                DataStore.LoadState(state);
            }
            catch (Exception)
            {
            }
        }
    }
}
