@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Shared.Models.BinaricPox

@inject DataStorage DataStore
@inject HttpClient Http

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">DnDBlazorReference</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (DataStore.IsLoaded)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="monsters">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Monsters
                </NavLink>
            </li>
            @*<li class="nav-item px-3">
                <NavLink class="nav-link" href="creaturetypes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Creature Types
                </NavLink>
            </li>*@
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="harvestingitems">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Harvesting Items
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="trinkettables">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Trinket Tables
                </NavLink>
            </li>
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dataprocessing">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data Processing
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DataStore.StorageStateChanged += StateHasChanged;
    }
}
