@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Shared.Models.BinaricPox
@using DnDBlazorReference.Client.Shared.HarvestingItems
@using DnDBlazorReference.Client.Shared.TrinketTables

@inject DataStorage DataStore
@inject HttpClient Http

<CascadingValue Value=this>
    @if (DataStore.IsLoaded)
    {
        <ElementList>
            @foreach (var trinketTable in DataStore.SortedTrinketTables)
            {
                var tTable = trinketTable;
                <TrinketTablesListItem ListItem="tTable" OnSelectedItem="OnItemSelected" />
            }
        </ElementList>
    }
    else
    {
        <span>Loading...</span>
    }
</CascadingValue>

@code {
    [Parameter]
    public TrinketTable SelectedTrinketTable { get; set; }

    [Parameter]
    public EventCallback<TrinketTable> OnItemSelected { get; set; }
}
