@using DnDBlazorReference.Shared.Models.BinaricPox
@inherits ElementListItemBase<TrinketTable>

<li @onmousedown="SelectItem" class="d-flex flex-row @GetCssByItem(List.SelectedTrinketTable)">
    @if (ListItem == null)
    {
        <span>Error ...</span>
    }
    else
    {
        <span>@ListItem.TrinketTableType</span>
    }
</li>

@code {
    [CascadingParameter]
    public TrinketTablesList List { get; set; }
}
