@namespace DnDBlazorReference.Client.Shared.CreatureTypes
@using DnDBlazorReference.Shared.Models.BinaricPox
@using DnDBlazorReference.Client.Shared.Tables

@if (CreatureType != null)
{
<div>
    <div>
        Type: <span>@CreatureType.Type</span>
    </div>
    <div>
        Tags: <span>@(CreatureType.Tags.Count > 0 ? string.Join(", ", CreatureType.Tags) : "None")</span>
    </div>
</div>
}

@code {
    [Parameter]
    public CreatureType CreatureType { get; set; }
}
