@namespace DnDBlazorReference.Client.Shared.CreatureTypes
@using DnDBlazorReference.Shared.Models.BinaricPox

<li @onmousedown="OnMouseDown">
    @if (CreatureType == null)
    {
        <span>Error ...</span>
    }
    else
    {
        <span>@CreatureType.ToString()</span>
    }
</li>

@code {
    [Parameter]
    public CreatureType CreatureType { get; set; }

    [Parameter]
    public EventCallback<CreatureType> OnSelectedItem { get; set; }
    
    public void OnMouseDown()
    {
        OnSelectedItem.InvokeAsync(CreatureType);
    }
}
