@namespace DnDBlazorReference.Client.Shared.CreatureTypes
@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Shared.Models.BinaricPox

@inject DataStorage DataStore
@inject HttpClient Http

@if (DataStore.State != null)
{
    <ul class="list w-100">
        @foreach (var creatureType in DataStore.State.CreatureTypes)
        {
            var cType = creatureType;
            <CreatureTypeListItem CreatureType="cType" OnSelectedItem="OnItemSelected" />
        }
    </ul>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public EventCallback<CreatureType> OnItemSelected { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await DataStore.LoadState(Http);
    }
}
