@namespace DnDBlazorReference.Client.Shared.CreatureTypes
@using DnDBlazorReference.Client.Data
@using DnDBlazorReference.Shared.Models.BinaricPox

@inject DataStorage DataStore
@inject HttpClient Http

@if (DataStore.IsLoaded)
{
    <ElementList>
        @foreach (var creatureType in DataStore.SortedCreatureTypes)
        {
            var cType = creatureType;
            <CreatureTypeListItem CreatureType="cType" OnSelectedItem="OnItemSelected" />
        }
    </ElementList>
}
else
{
    <span>Loading...</span>
}

@code {
    [Parameter]
    public EventCallback<CreatureType> OnItemSelected { get; set; }
}
