@namespace DnDBlazorReference.Client.Shared.CreatureTypes
@using DnDBlazorReference.Shared.Models.BinaricPox

<li class="flex-row row" @onmouseover="OnMouseOver" @onmouseout="OnMouseOut" @onmousedown="OnMouseDown" style="background-color: @colourString">
    @if (CreatureType == null)
    {
        <span>Error ...</span>
    }
    else
    {
        <span class="w-100">@CreatureType.ToString()</span>
    }
</li>

@code {
    [Parameter]
    public CreatureType CreatureType { get; set; }

    [Parameter]
    public EventCallback<CreatureType> OnSelectedItem { get; set; }

    private string colourString = "white";

    public void OnMouseOver()
    {
        colourString = "gray";
    }

    public void OnMouseOut()
    {
        colourString = "white";
    }

    public void OnMouseDown()
    {
        OnSelectedItem.InvokeAsync(CreatureType);
    }
}
